.Chat-main
  .Chat-main__group-info
    .Chat-main__group-info__left
      .Chat-main__group-info__left__group
        test
      .Chat-main__group-info__left__member
        Member : masa
    .Chat-main__group-info__edit-btn
      = link_to "#", class: "Link-btn" do
        Edit
  .Chat-main__message-list
    .Chat-main__message-list__info
      .Chat-main__message-list__info__name
        masa
      .Chat-main__message-list__info__date
        2019/11/20(Wed) 17:43:01
    .Chat-main__message-list__text
      おはよう！
    .Chat-main__message-list__info
      .Chat-main__message-list__info__name
        masa
      .Chat-main__message-list__info__date
        2019/11/20(Wed) 17:43:34
    .Chat-main__message-list__text
      今日は朝から雨
  .Chat-main__message-form
    %form.Chat-main__message-form__form
      .Chat-main__message-form__form__input-box
        %input{type: "text", placeholder: "type a message", class: "Chat-main__message-form__form__input-box__text"}
        %label.Chat-main__message-form__form__input-box__image
          = icon('fas', 'image', class: 'Chat-main__message-form__form__input-box__image__icon')
          %input{type: "file", class: "Chat-main__message-form__form__input-box__image__btn"}
      %input{type: "submit", value: "Send", name: "commit", class: "Chat-main__message-form__form__send-btn"}


